<div fxLayout="column">
  <mat-toolbar color="primary" class="p-0">
    <div fxFlex fxLayout="row">
      <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center">
        eIDAS CSR Generator
      </div>
    </div>
  </mat-toolbar>
  <div fxFlex>
    <div fxLayout="row wrap" fxLayout.sm="column" fxLayoutGap="16px" fxLayoutAlign="center center">
      <div style="width: 500px">
        <app-eidascsr></app-eidascsr>
      </div>
    </div>
  </div>
  <mat-toolbar color="primary" class="p-0">
    <div fxFlex fxLayout="row">
      <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center">
        <a href="https://www.darkedges.com/?eidascsr"><img src="assets/logo.png" height="32px" valign="middle"> &nbsp; DarkEdges</a> &nbsp;&copy; 2020
      </div>
    </div>
  </mat-toolbar>
</div>